
@import 'init'

body
    font-family: 'Myriad Set Pro' , sans-serif
    // @include transition( all 0.7s )
    // +transition( all 0.7s )
    padding: 0
    margin: 0

$smartsearch_color_default: #EEE
$smartsearch_color_gray: #DDD
$smartsearch_border_width: 0.25em
$smartsearch_border_width: 2px
.header
    position: fixed
    height: 4rem
    top: 0
    background-color: rgba(#000 , 0.3)
    width: 100%

.smartsearch
    position: relative
    background-repeat: no-repeat
    background-size: cover
    // +bg(red)
    font-family: MyriadThin, HelveticaNeueCyr-Light, Helvetica, Arial, sans-serif
    // padding-top: 2em
    // padding-bottom: 10em
    padding-bottom: 2em
.smartsearch-opener
    // height: 1px
    // display: table-cell
    // vertical-align: middle
    // width: 1%
    font-size: 1em
    line-height: 2
.smartsearch-container
    width: 840px
    width: 44em
    // max-height: 100em
    margin: 0 auto 10rem
    position: relative
    border-width: $smartsearch_border_width
    border-style: solid
    border-color: $smartsearch_color_default
    // overflow-y: hidden
    +transition-default(max-height)
    box-sizing: content-box
    z-index: 150
    &:after
        content: ' '
        display: none
        position: absolute
        right: 0px
        left: 0
        top: 0px
        bottom: 0
        z-index: 10
        +bg(#FFF)
        +img('loader.gif')
        opacity: 0.9
        background-position: center center
        background-repeat: no-repeat
.smartsearch-container__loading
    &:after
        display: block
.smartsearch-container__unfocused
    // margin-bottom: 0
    max-height: 3em
    .smartsearch-tabs
        // display: none
    .smartsearch-result
        // display: none
        // transform: scaleY(0)
.smartsearch-title
    // color: #f6d024
    // font-family: MyriadProRegular;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

.smartsearch-inputcnt
    position: relative
    background-color: #FFF
    border-width: 0
    // border-bottom-width: $smartsearch_border_width
    border-style: solid
    // border-bottom-color: $smartsearch_color_default
    border-bottom-color: $smartsearch_color_gray
.smartsearch-input
    width: calc(100% - 3em)
    height: 3em
    padding: 0 2em 0 1em
    border: 0
    font-size: inherit
    background-color: transparent
    &:focus
        outline: 0
.smartsearch-button
    display: none
    position: absolute
    right: 0
    top: 0
    background-image: url("../img/search-icon.png")
    background-repeat: no-repeat
    background-position: center center
    width: 4em
    height: 100%
    background-color: transparent
    border: 0
    &:hover
        cursor: pointer
.smartsearch-tabs
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    margin: 0
    padding: 1em
    background-color: #FFF
    border-bottom-width: 0
    border-top-width: 0
    list-style-type: none
    display: none !important
.smartsearch-tab
    background-color: #DDD
    font-size: 1.25em
.smartsearch-pill
    padding: 0 1em
    color: #FFF
    &:hover
        cursor: pointer
.smartsearch-result
    display: block
    position: absolute
    width: 100%
    padding-top: 0.3em
    padding-bottom: 0.3em
    max-height: 400px
    overflow-y: scroll
    // transform: scaleY(1)
    // border-width: 0 $smartsearch_border_width $smartsearch_border_width $smartsearch_border_width
    border-width: $smartsearch_border_width
    border-style: solid
    border-color: $smartsearch_color_default
    border-top-color: $smartsearch_color_gray
    background-color: #FFF
    +transition(height)
    &.smartsearch-result__empty
        padding: 0
        border: 0
        height: 0
.smartsearch-list
    +transition(height)
    margin: 0
    padding: 0
    height: auto
    overflow-y: auto
.smartsearch-abbr

.smartsearch-link
    color: #777
    &:before
        content: '...'
        display: inline-block
        font-style: normal
        padding: 0em 0.4em
        border-radius: 0.3em
        margin-right: 0.5em
        background-color: $smartsearch_color_default
        font-size: 75%
        color: #777
.smartsearch-item
    padding-left: 2em
    padding-right: 1em
    // height: 2em
    // line-height: 2
    background-color: #FFF
    transition: all 0.2s
    &:hover
        background-color: $smartsearch_color_default
        .smartsearch-link
            color: #FFF
    .small
        font-size: 75%
        margin-left: 0.5em
.smartsearch-item__hidden
    display: none
.smartsearch-item__more
    cursor: pointer
    text-decoration: none
    border-bottom: 2px dashed #67b2f3

.section
    width: 50%
    // padding: 0
    .content
        font-size: 1rem

@import "part/smartsearch-redtheme"
@import "part/smartsearch-linkdecoration"
