//- index.pug

include smartsearch_input
include smartsearch_pills
include smartsearch_pills_consent
include smartsearch_result
include smartsearch_result_list

mixin smartsearch
  //- disable ng
  //- main#smartsearch.smartsearch(data-stellar-ratio='0.8', data-stellar-background-ratio='0.4' , ng-app='SmartSearchApp')
  //- h6= demo_enabled
  main#smartsearch.smartsearch
    .smartsearch-opener
      if demo_enabled
        h2.smartsearch-title.title_white Поиск по объектам
      else
        h2.smartsearch-title {$smart_search_title}
      .smartsearch-container.smartsearch-container__unfocused
        +smartsearch_input
        if demo_enabled
          +smartsearch_pills
        else
          +smartsearch_pills_consent
        +smartsearch_result

mixin smartsearch-jsblockinit
  script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearchInit.js')
  //- script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearchInit.min.js')

