//- smartsearch_input.pug

mixin smartsearch_input
  .smartsearch-inputcnt
    //- - var input_caption = 'Название объекта, улицы или района'
    - var inp_attrs = {}
    - inp_attrs.type = 'text'
    - inp_attrs.autocomplete = 'off'
    //- - inp_attrs.onfocus = 'inputFocus(this); search_result(this);'
    //- - inp_attrs.onblur = 'inputBlur(this)'
    //- ng-click="expression"
    //- ng-blur="expression"
    //- ng-focus="expression"
    - inp_attrs.def = input_caption
    - inp_attrs.value = input_caption
    input.smartsearch-input&attributes(inp_attrs)
    button.smartsearch-button(type='submit', name='list', onclick='changeViewList(this)')
