//- smartsearch_pills.pug

mixin smartsearch_pills
  ul.smartsearch-tabs
    each pill , index in realestate
      //- disable active pill
      //- - var tabclass = index == 'storage' ? 'smartsearch-tab active' : 'smartsearch-tab'
      - var tabclass = 'smartsearch-tab'
      if (index == 'pages')
        //- 
      else
        li(role='presentation',class=tabclass)
          span.smartsearch-pill(data-type=pill.id)= pill.plural
          //- span.smartsearch-pill(data-type=pill.id, onclick="clickSearchTab(this);")= pill.plural

