//- smartsearch_result.pug

mixin smartsearch_result
  .smartsearch-result.js-search-result.smartsearch-result__empty
    ul.smartsearch-list
    //- +smartsearch_result_list
    //- .sel-distr.empty.js-sel-distr
      ul.reset.scroll-pane.black-scroll.js-distr-selected

