//- search_result_list.pug

mixin smartsearch_result_list_items(realtype)
  each real , index in realestate[realtype].array
    - if (index < 5)
      - var liclass = 'smartsearch-item'
    - else
      - var liclass = 'smartsearch-item smartsearch-item__hidden'
    li(data-type=realestate[realtype].id , class=liclass)
      - var aclass = 'smartsearch-link__' + realtype
      a.smartsearch-link(href=real[0], target='_blank', class=aclass)
        - var classtype = 'type type__' + realtype
        //- i(title=realestate[realtype].singular , class=classtype)
        != real[1]
        span.small (#{real[2]})

mixin smartsearch_result_list
  ul.smartsearch-list
    +smartsearch_result_list_items('storage')
    - var real_onclick = "searchListShow(this, " + realestate.storage.id + ")"
    li.smartsearch-item(onclick=real_onclick)
      span.smartsearch-item__more(data-hide='скрыть', data-show='показать ещё') показать ещё

