//- smartsearch_pills_consent.pug

mixin smartsearch_pills_consent
  ul.smartsearch-tabs
    | {foreach from=$smart_search_pills item=pill}
    li.smartsearch-tab(role="presentation")
      span.smartsearch-pill(data-type!="{$pill->id}") {$pill->plural}
    | {/foreach}
  //- ul.smartsearch-tabs
    li.smartsearch-tab.active(role="presentation")
      span.smartsearch-pill(data-type="6121") Офисы
    li.smartsearch-tab(role="presentation")
      span.smartsearch-pill(data-type="6122") Склады
    li.smartsearch-tab(role="presentation")
      span.smartsearch-pill(data-type="6123") Торговые
    //- li.smartsearch-tab(role="presentation")
      //- span.smartsearch-pill(data-type="6124") Новостройки
    li.smartsearch-tab(role="presentation")
      span.smartsearch-pill(data-type="6125") Помещения

