@charset "UTF-8";
.smartsearch-button,.smartsearch-container:after{right:0;top:0;background-repeat:no-repeat;background-position:center center}
.smartsearch-button:hover,.smartsearch-pill:hover{cursor:pointer}
body{font-family:'Myriad Set Pro',sans-serif;padding:0;margin:0}
.header{position:fixed;height:4rem;top:0;background-color:rgba(0,0,0,.3);width:100%}
.smartsearch{position:relative;background-repeat:no-repeat;background-size:cover;font-family:MyriadThin,HelveticaNeueCyr-Light,Helvetica,Arial,sans-serif;padding-bottom:2em}
.smartsearch-opener{font-size:1em;line-height:2}
.smartsearch-container{width:840px;width:44em;margin:0 auto 10rem;position:relative;border-style:solid;transition-property:max-height;transition-duration:250ms;transition-timing-function:ease;box-sizing:content-box;z-index:150}
.smartsearch-container:after{content:' ';display:none;position:absolute;left:0;bottom:0;z-index:10;background-color:#FFF;background-image:url(../img/loader.gif);opacity:.9}
.smartsearch-container__loading:after{display:block}
.smartsearch-container__unfocused{max-height:3em}
.smartsearch-title{text-align:center;font-size:2em;padding-top:1em;padding-bottom:1em}
.smartsearch-inputcnt{position:relative;background-color:#FFF;border-width:0;border-style:solid;border-bottom-color:#DDD}
.smartsearch-input{width:calc(100% - 3em);height:3em;padding:0 2em 0 1em;border:0;font-size:inherit;background-color:transparent}
.smartsearch-input:focus{outline:0}
.smartsearch-button{display:none;position:absolute;background-image:url(../img/search-icon.png);width:4em;height:100%;background-color:transparent;border:0}
.smartsearch-tabs{flex-flow:row nowrap;justify-content:space-around;margin:0;padding:1em;background-color:#FFF;border-bottom-width:0;border-top-width:0;list-style-type:none;display:none!important}
.smartsearch-tab{font-size:1.25em}
.smartsearch-pill{padding:0 1em;color:#FFF}
.smartsearch-result{display:block;position:absolute;width:100%;padding-top:.3em;padding-bottom:.3em;max-height:400px;overflow-y:scroll;border-width:2px;border-style:solid;border-color:#DDD #EEE #EEE;background-color:#FFF;transition:height}
.smartsearch-result.smartsearch-result__empty{padding:0;border:0;height:0}
.smartsearch-list{transition:height;margin:0;padding:0;height:auto;overflow-y:auto}
.smartsearch-link{color:#777}
.smartsearch-link:before{content:'...';display:inline-block;font-style:normal;padding:0 .4em;border-radius:.3em;margin-right:.5em;background-color:#EEE;font-size:75%;color:#777}
.smartsearch-item{padding-left:2em;padding-right:1em;background-color:#FFF;transition:all .2s}
.smartsearch-item:hover .smartsearch-link{color:#FFF}
.demo .smartsearch-title,.smartsearch-title{color:#fff;font-weight:400}
.smartsearch-item .small{font-size:75%;margin-left:.5em}
.smartsearch-item__hidden{display:none}
.smartsearch-item__more{cursor:pointer;text-decoration:none;border-bottom:2px dashed #67b2f3}
.section{width:50%}
.section .content{font-size:1rem}
.smartsearch-container{border-width:2px;border-color:#ec9000}
.smartsearch-tab{background-color:#f14a52;transition:background-color .2s;border-radius:4px}
.smartsearch-item:hover,.smartsearch-tab.active,.smartsearch-tab:hover{background-color:#ec9000}
.demo .smartsearch{background-image:url(../img/slide2.jpg);height:100vh;padding-top:0;padding-bottom:2em}
.demo .smartsearch-opener{height:100vh;padding-top:10rem;padding-bottom:0;background-color:rgba(0,0,0,.3);font-size:2em;font-size:1em}
.demo .smartsearch-title{font-family:MyriadProRegular;text-align:center;font-size:2em}
.smartsearch-link__0:before{content:'стр';background-color:#DDD}
.smartsearch-link__6121:before{content:'бц';background-color:#dbecc4}
.smartsearch-link__6122:before{content:'ск';background-color:#ecc4dc}
.smartsearch-link__6123:before{content:'трк';background-color:#ecc4ea}
.smartsearch-link__6124:before{content:'ком';background-color:#c4d9ec}
.smartsearch-link__6125:before{content:'пмщ';background-color:#c4ece3}