//- demo.html.pug
extends layout/template

block main
  //- +header
  - var demo_enabled = true;
  .demo
    +smartsearch

block js
  //- script(src='./vendor/jquery/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  //- script(src='./vendor/angular/angular.min.js')
  script(src='./js/SmartSearchMain.js')
  //- script(src='http://closure-compiler.appspot.com/code/jsc4d23f8a03f4dbb01db20c1904ee76c4c/default.js')
  //- script(src='https://unpkg.com/db.js@0.15.0/dist/db.min.js')

  //- script(src='https://unpkg.com/dexie@1.5.1/dist/dexie.min.js')
  script(src='./js/dexie.min.js')

  +smartsearch-jsblockinit

  //- script.
    //- var SmartSearchAppModule = angular.module('SmartSearchApp', []);
  //- script(src='./js/searchApp.js')

  //- +footer

