//- query-datadev.pug
include layout/index
include utilities/_index
+php
  | require 'inc/lib-realestate.php';
  |
  | $realestate = array();
  |
  //- DEV DISABLED
  //- each type,index in realestate
    |
    | $realestate['#{index}'] = new RealEstate(#{type.id} , '#{index}' , '#{type.abrev}' , '#{type.singular}' , '#{type.plural}');
    |
    - var rez = ''
    each state in realestate[index].array
      - rez = '';
      //- h2= state[0]
      //- h3= state[1]
      - rez += '$realestate["' + index + '"]->add(array('
      - rez += "'" + state[0] + "',";
      - rez += "'" + state[1] + "',";
      - rez += "'" + state[2] + "'";
      - rez += '));'
      |
      |
      != rez
      |
  |
  | $realestate_base = array(
  |
  each type,index in realestate
    |     '#{type.id}' => $realestate['#{index}'],
    |
  | );
  //- | var_dump($realestate_base);
