//- smartsearch.pug

include layout/index
include smartsearch/index
include utilities/_index

- var demo_enabled = false;

+smartsearch

<link rel="stylesheet" type="text/css" href="{$estate_folder}/apps/smartsearch/front/css/smartsearch.css">
//- script(type="text/javascript" , defer , src='https://unpkg.com/dexie@1.5.1/dist/dexie.min.js')
script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/dexie.min.js')
//- script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearch.min.js')
script(type="text/javascript" , defer , src='{$estate_folder}/apps/smartsearch/front/js/SmartSearchMain.js')
//- script(type="text/javascript" , src='{$estate_folder}/template/frontend/{$current_theme_name}/js/7vkf5dsivli.js')

+smartsearch-jsblockinit

