// smartsearch-linkdecoration.sass

.smartsearch-link__0
    &:before
        content: 'стр'
        background-color: $smartsearch_color_gray
.smartsearch-link__6121
    &:before
        content: 'бц'
        background-color: #dbecc4
.smartsearch-link__6122
    &:before
        content: 'ск'
        background-color: #ecc4dc
.smartsearch-link__6123
    &:before
        content: 'трк'
        background-color: #ecc4ea
.smartsearch-link__6124
    &:before
        content: 'ком'
        background-color: #c4d9ec
.smartsearch-link__6125
    &:before
        content: 'пмщ'
        background-color: #c4ece3

