// smartsearch-redtheme.sass

$smartsearch_color_yellow: #ec9000
$smartsearch_color_red: #f14a52

.smartsearch-container
    border-width: $smartsearch_border_width
    border-color: $smartsearch_color_yellow

.smartsearch-title
    color: #fff;
    font-weight: 400;

.smartsearch-tab
    background-color: $smartsearch_color_red
    transition: background-color .2s
    +border-radius(4px)
    &:hover , &.active
        background-color: $smartsearch_color_yellow

.smartsearch-item
    &:hover
        background-color: $smartsearch_color_yellow

.demo
    .smartsearch
        background-image: url("../img/slide2.jpg")
        height: 100vh
        padding-top: 0
        padding-bottom: 2em
    .smartsearch-opener
        height: 100vh
        padding-top: 10rem
        padding-bottom: 0rem
        background-color: rgba(#000 , 0.3)
        font-size: 2em
        font-size: 1em
    .smartsearch-title
        font-family: MyriadProRegular
        color: white
        text-align: center
        font-weight: normal
        font-size: 2em


