//- layout_head.pug

mixin layout_head
  head
    meta(charset='utf-8')
    title Devil Title
    //- link(rel='stylesheet', href='./vendor/myriad-font/css/myriad.min.css')
    //- link(rel='stylesheet', href='./vendor/HTML5-Reset/reset.css')
    //- link(rel='stylesheet', href='./css/portalreset.css')
    link(rel='stylesheet', href='./css/smartsearch.css')

