//- template.pug

include ../layout/index
include ../smartsearch/index
include ../utilities/_index

<!DOCTYPE html>
html(lang="en")
  //- //= inc/_head.html
  +layout_head
  body
    block main
  block js

