//- variables.pug

//- 
//- As data realty I had copied several db items from www.brightrich.ru website.
//- Data usage demo only.
//- 

- var realestate = {}

- realestate.pages = {}
- realestate.pages.id = 100
- realestate.pages.abrev = 'стр'
- realestate.pages.singular = 'быстрая страница'
- realestate.pages.plural = 'Страницы'
- realestate.pages.array = []

- realestate.office = {}
- realestate.office.id = 209
- realestate.office.abrev = 'бц'
- realestate.office.singular = 'Бизнес-центр'
- realestate.office.plural = 'Офисы'
- realestate.office.array = []

- realestate.warehouse = {}
- realestate.warehouse.id = 210
- realestate.warehouse.abrev = 'ск'
- realestate.warehouse.singular = 'Склад'
- realestate.warehouse.plural = 'Склады'
- realestate.warehouse.array = []

- realestate.storage = {}
- realestate.storage.id = 211
- realestate.storage.abrev = 'хр'
- realestate.storage.singular = 'Ответственное хранение'
- realestate.storage.plural = 'Отв. хранение'
- realestate.storage.array = []

- realestate.trk = {}
- realestate.trk.id = 212
- realestate.trk.abrev = 'трк'
- realestate.trk.singular = 'ТРК'
- realestate.trk.plural = 'ТРК'
- realestate.trk.array = []

- realestate.coworking = {}
- realestate.coworking.id = 213
- realestate.coworking.abrev = 'ко'
- realestate.coworking.singular = 'Коворкинг'
- realestate.coworking.plural = 'Коворкинг'
- realestate.coworking.array = []

- var pages_push = function(url,title) {realestate.pages.array.push([url,title,'']);};
- var off_push = function(url,title,desc) {realestate.office.array.push([url,title,desc]);};
- var ware_push = function(url,title,desc) {realestate.warehouse.array.push([url,title,desc]);};
- var stor_push = function(url,title,desc) {realestate.storage.array.push([url,title,desc]);};
- var trk_push = function(url,title,desc) {realestate.trk.array.push([url,title,desc]);};
- var cow_push = function(url,title,desc) {realestate.coworking.array.push([url,title,desc]);};

- pages_push('/realestate/offices/lease/' , 'аренда офиса')
- pages_push('/realestate/warehouses/lease/' , 'аренда склада')
- pages_push('/realty/bc-klassa-a/' , 'аренда офиса класса А')
- pages_push('/realty/bc-klassa-b-plus/' , 'аренда офиса класса В+')
- pages_push('/realty/bc-klassa-b/' , 'аренда офиса класса В')
- pages_push('/realty/bc-klassa-c/' , 'аренда офиса класса С')
- pages_push('/realty/sklady-klassa-a/' , 'аренда склада класса А')
- pages_push('/realty/sklady-klassa-b-plus/' , 'аренда склада класса В+')
- pages_push('/realty/sklady-klassa-b/' , 'аренда склада класса В')
- pages_push('/realty/sklady-klassa-c/' , 'аренда склада класса С')

- off_push('/realestate/office/all/abm/' , 'ABM' , 'Маршала Блюхера пр., д. 12')
- off_push('/realestate/office/all/apriori/' , 'Apriori Gallery' , 'Большой проспект П.С., д. 58')
- off_push('/realestate/office/all/bc-baltis-plaza/' , 'Baltis Plaza' , 'Средний пр. В. О., д. 88')
- off_push('/realestate/office/all/bolloev-center/' , 'Bolloev Center' , 'Пер. Гривцова, д. 4')
- off_push('/realestate/office/all/fidel/' , 'Fidel' , 'пр.Обуховской обороны, д. 70')
- off_push('/realestate/office/all/gnezdo/' , 'Gnezdo' , 'Большая Конюшенная, д. 19')
- off_push('/realestate/office/all/graffiti/' , 'Graffiti' , 'Кондратьевский пр., д. 15, стр. Б, к. 3')
- off_push('/realestate/office/all/gregorys-palace/' , 'Gregorys Palace' , 'Выборгская наб., д. 55, к. 2')
- off_push('/realestate/office/all/h2o/' , 'H2O' , 'Химиков, д. 28')
- off_push('/realestate/office/all/ingria-tower/' , 'Ingria Tower' , 'Энгельса пр., д. 107')
- off_push('/realestate/office/all/jensen-house/' , 'Jensen House' , 'Наб. Макарова, д. 32')
- off_push('/realestate/office/all/K2-/' , 'K2' , 'пл.Конституции, д. 2')
- off_push('/realestate/office/all/leader-tower/' , 'Leader Tower' , 'пл.Конституции, д. 7')
- off_push('/realestate/office/all/magnus/' , 'Magnus' , '9-ая линия В.О., д. 34, к. А')
- off_push('/realestate/office/all/maxcel/' , 'Maxcel' , 'Заставская, д. 3, к. А')
- off_push('/realestate/office/all/mezon-plaza/' , 'Mezon Plaza' , 'Большой Сампсониевский пр., д. 28, стр. Д, к. 2')
- off_push('/realestate/office/all/miller/' , 'Miller' , 'Комендантский пр., д. 11')
- off_push('/realestate/office/all/office-l27/' , 'Office L27' , 'Львовская, д. 27')
- off_push('/realestate/office/all/oskar/' , 'Oscar' , 'наб. Фонтанки, д. 13')
- off_push('/realestate/office/all/owental-history/' , 'Owental History' , 'Социалистическая, д. 14')
- off_push('/realestate/office/all/owental-ost/' , 'Owental Ost' , 'Лиговский пр., д. 33, к. 1')
- off_push('/realestate/office/all/polis/' , 'Polis' , 'Софийская, д. 6, стр. 1, к. 8')
- off_push('/realestate/office/all/ponomarev-center/' , 'Ponomarev Center' , 'Малая Морская, д. 18-20, стр. А')
- off_push('/realestate/office/all/prisma/' , 'Prisma' , 'Выборгское шоссе, д. 503, стр. А, к. 1')
- off_push('/realestate/office/all/staroderevenskiy/' , 'Reforma' , 'ул. Стародеревенская, д. 11, к. 2')
- off_push('/realestate/office/all/reforma/' , 'Reforma' , 'шоссе Революции, д. 69, стр. А')
- off_push('/realestate/office/all/evroavto/' , 'Reforma' , 'Левашовский пр., д. 15, стр. А')
- off_push('/realestate/office/all/renaissance-center/' , 'Renaissance Center' , 'Шателена, д. 26')
- off_push('/realestate/office/all/renaissance-hall/' , 'Renaissance Hall' , 'Владимирский пр., д. 23')
- off_push('/realestate/office/all/renaissance-house/' , 'Renaissance House' , '2-я Советская, д. 17')
- off_push('/realestate/office/all/bts-renaissance-plaza/' , 'Renaissance Plaza' , 'Марата, д. 69-71')
- off_push('/realestate/office/all/renaissance-pravda/' , 'Renaissance Pravda' , 'Херсонская, д. 12-14')
- off_push('/realestate/office/all/renaissance-premium/' , 'Renaissance Premium' , 'Решетникова, д. 14')
- off_push('/realestate/office/all/ritting/' , 'RITTING' , 'пр. Добролюбова, д. 1/79')
- off_push('/realestate/office/all/bc-river-house/' , 'River House' , 'Академика Павлова, д. 5, стр. В')
- off_push('/realestate/office/all/scandinavian-house/' , 'Scandinavian House' , 'Шоссе Революции, д. 69, стр. А')
- off_push('/realestate/office/all/setlcenter/' , 'SetlCenter' , 'Ленинский пр., д. 153')
- off_push('/realestate/office/all/sky-trade/' , 'Sky Trade' , 'Репищева, д. 20')
- off_push('/realestate/office/all/sotrans-bc/' , 'Sotrans' , 'Красный Бор, д. 1')
- off_push('/realestate/office/all/sweden-house/' , 'Sweden House' , 'Малая Конюшенная, д. 1/3, к. А')
- off_push('/realestate/office/all/tempo/' , 'Tempo' , 'Невский пр., д. 104, стр. А')
- off_push('/realestate/office/all/the-office/' , 'The Office' , 'Ключевая, д. 30, к. А')
- off_push('/realestate/office/all/veda-house/' , 'Veda House' , 'Петроградская наб., д. 20')
- off_push('/realestate/office/all/wall-street/' , 'Wall Street' , '2-я Советская, д. 27')
- off_push('/realestate/office/all/xix-vek/' , 'XIX век' , 'ул. Пироговская набережная, д. 17, стр. А, к. 1')
- off_push('/realestate/office/all/yit/' , 'YIT' , 'Приморский пр., д. 54')
- off_push('/realestate/office/all/avantazh/' , 'Авантаж' , 'Белоостровская, д. 17, стр. а, к. 2')
- off_push('/realestate/office/all/aviator/' , 'Авиатор' , 'Заставская, д. 23')
- off_push('/realestate/office/all/aviator-na-mebelnoy/' , 'Авиатор на Мебельной' , 'Мебельная, д. 12, к. 1')
- off_push('/realestate/office/all/avrorasiti/' , 'Аврора-Сити' , 'пр. Шаумяна, д. 4')
- off_push('/realestate/office/all/avtovskaya-15/' , 'Автовская 15' , 'Автовская, д. 15')
- off_push('/realestate/office/all/avtovskaya-17/' , 'Автовская 17' , 'Автовская, д. 17')
- off_push('/realestate/office/all/admiral/' , 'Адмирал' , 'набережная Обводного канала, д. 118')
- off_push('/realestate/office/all/admiralteyskiy/' , 'Адмиралтейский' , 'Московский пр., д. 22')
- off_push('/realestate/office/all/admiralteyskiy-dom/' , 'Адмиралтейский Дом' , 'Конногвардейский бульвар, д. 3')
- off_push('/realestate/office/all/akademicheskiy/' , 'Академический' , 'Гражданский пр., д. 41, стр. А')
- off_push('/realestate/office/all/akademiya/' , 'Акадэмия' , 'Уральская, д. 1')
- off_push('/realestate/office/all/akvamarin/' , 'Аквамарин' , 'Ивана-Черных, д. 31-33')
- off_push('/realestate/office/all/akvatoriya/' , 'Акватория' , 'Выборгская наб., д. 61')
- off_push('/realestate/office/all/akvilon/' , 'Аквилон' , 'Новолитовская, д. 15')
- off_push('/realestate/office/all/aksioma/' , 'Аксиома' , 'Малая Митрофаньевская, д. 1')
- off_push('/realestate/office/all/alva/' , 'Алва' , 'Апраксин пер., д. 8, стр. А')
- off_push('/realestate/office/all/delovoy-tsentr-aleksandr-nevskiy/' , 'Александр Невский' , 'Малоохтинский проспект, д. 61, стр. А')
- off_push('/realestate/office/all/aleksandronevskaya-manufaktura/' , 'Александро-Невская Мануфактура' , 'пр.Обуховской обороны, д. 70, к. 3')
- off_push('/realestate/office/all/aleksandrovskaya-ferma/' , 'Александровская ферма' , 'пр. Александровской Фермы, д. 29, к. Е')
- off_push('/realestate/office/all/aleksandrovskiy/' , 'Александровский' , 'Херсонская, д. 39, стр. А')
- off_push('/realestate/office/all/aleksor/' , 'Алексор' , 'пр. Культуры, д. 42-44')

- ware_push('/realestate/warehouse/all/a-plus-park-shushary/' , 'A+ Парк Шушары' , 'Московское шоссе, д. 177')
- ware_push('/realestate/warehouse/all/builttosuit-vyborgskoe-shosse/' , 'Built-to-suit, Выборгское шоссе' , 'Выборгское шоссе')
- ware_push('/realestate/warehouse/all/gorigo/' , 'Gorigo' , 'Волхонское шоссе, д. 2Б')
- ware_push('/realestate/warehouse/all/K2-/' , 'K2' , 'пл.Конституции, д. 2')
- ware_push('/realestate/warehouse/all/sklad-nord-way/' , 'Nord Way' , 'Московское шоссе, д. 161, стр. Б, к. 10')
- ware_push('/realestate/warehouse/all/sklad-orion-logistics/' , 'Orion Logistics' , 'Горское шоссе, д. 169, к. А')
- ware_push('/realestate/warehouse/all/pnk2/' , 'PNK-2' , 'Московское шоссе, д. 19, к. 2')
- ware_push('/realestate/warehouse/all/pnksofiyskaya/' , 'PNK-Софийская' , 'Софийская')
- ware_push('/realestate/warehouse/all/sk-roslogistics/' , 'RosLogistics-Шушары' , 'Московское шоссе, д. 70, стр. А, к. А')
- ware_push('/realestate/warehouse/all/sotrans/' , 'Sotrans' , 'Промышленная, д. 3')
- ware_push('/realestate/warehouse/all/a-kolpino/' , 'А+ Колпино' , 'Финляндская, д. 35')
- ware_push('/realestate/warehouse/all/akm-logistik/' , 'АКМ Логистик' , 'Московское шоссе, д. 177, стр. А')
- ware_push('/realestate/warehouse/all/akm-logistik-2/' , 'АКМ Логистик 2' , 'Московское шоссе, д. 177, стр. А')
- ware_push('/realestate/warehouse/all/sklad-arsenal/' , 'Арсенал' , 'Комсомола, д. 1-3')
- ware_push('/realestate/warehouse/all/arsenal-na-komsomola-2/' , 'Арсенал на Комсомола 2' , 'Комсомола, д. 2')
- ware_push('/realestate/warehouse/all/sk-bastion/' , 'Бастион' , 'пос. Мурино, ул. Лесная')
- ware_push('/realestate/warehouse/all/bragichev-ruchey/' , 'Брагичев Ручей' , 'Ручьёвская дорога, д. 1')
- ware_push('/realestate/warehouse/all/domostroitelnaya/' , 'Домостроительная' , 'Домостроительная улица, д. 12')
- ware_push('/realestate/warehouse/all/sklad-zheleznodorozhnaya-dom-11/' , 'Железнодорожная дом 11' , 'Железнодорожная, д. 11')
- ware_push('/realestate/warehouse/all/zao-kievskoe/' , 'ЗАО Киевское' , 'Рябиновая, д. 40, к. А')
- ware_push('/realestate/warehouse/all/zvenigorodskiy-/' , 'Звенигородский' , 'Звенигородская, д. 9-11')
- ware_push('/realestate/warehouse/all/zps-tehnopark/' , 'ЗПС технопарк' , 'Красногвардейский пер., д. 15')
- ware_push('/realestate/warehouse/all/sk-igrotekhnika/' , 'Игротехника' , '16-я Линия, д. 7')
- ware_push('/realestate/warehouse/all/ilich-/' , 'Ильич' , 'Красногвардейский пер., д. 23')
- ware_push('/realestate/warehouse/all/investbugry/' , 'Инвест-Бугры' , 'Бугровская дорога, д. 1')
- ware_push('/realestate/warehouse/all/insey/' , 'Инсей' , 'Октябрьская набережная, д. 104, к. 45')
- ware_push('/realestate/warehouse/all/sklad-interterminal-prolodzhis-сlassa/' , 'Интертерминал ПроЛоджис (класс А)' , 'Кубинская, д. 75')
- ware_push('/realestate/warehouse/all/sklad-interterminal-prolodzhis-classb/' , 'Интертерминал ПроЛоджис (класс В)' , 'Кубинская, д. 75')
- ware_push('/realestate/warehouse/all/interterminalprolodzhis-klass-s/' , 'Интертерминал ПроЛоджис (класс С)' , 'Кубинская, д. 75')
- ware_push('/realestate/warehouse/all/interterminal-parnas/' , 'Интертерминал-Парнас' , 'Домостроительная, д. 1')
- ware_push('/realestate/warehouse/all/lenhladokombinat/' , 'Ленхладокомбинат' , 'Шкапина, д. 43-45')
- ware_push('/realestate/warehouse/all/kulonpulkovo-sklad/' , 'Логистический парк Пулково' , 'Пулковское шоссе, д. 56, стр. А, к. 4')
- ware_push('/realestate/warehouse/all/logopark-troickiy-/' , 'Логопарк Троицкий' , 'пр.Обуховской обороны, д. 295')
- ware_push('/realestate/warehouse/all/logopark-troitskiy/' , 'Логопарк Троицкий' , 'пр.Обуховской обороны, д. 295')
- ware_push('/realestate/warehouse/all/metallostroy-/' , 'Металлострой' , 'промзона Металлострой, дорога на Металлострой, д. 5')
- ware_push('/realestate/warehouse/all/metallostroy/' , 'Металлострой' , 'Караваевская, д. 57')
- ware_push('/realestate/warehouse/all/moskovskaya-25/' , 'Московская 25' , 'Московская, д. 25')
- ware_push('/realestate/warehouse/all/sklad-na-verkhnem-pereulke/' , 'На Верхнем переулке' , '1-й Верхний пер, д. 12, к. А')
- ware_push('/realestate/warehouse/all/na-tramvaynom-32/' , 'На Трамвайном 32' , 'Трамвайный пер., д. 32')
- ware_push('/realestate/warehouse/all/novikova/' , 'Новикова' , 'Маршала Новикова, д. 28')
- ware_push('/realestate/warehouse/all/oktavian/' , 'Октавиан' , 'Токсовское шоссе, пос. Кузьмоловский')
- ware_push('/realestate/warehouse/all/sklad-osinovaya-roshcha/' , 'Осиновая Роща' , 'Горское шоссе, д. 6, стр. Б')
- ware_push('/realestate/warehouse/all/petrokhimoptorg/' , 'Петрохимопторг' , '1 Верхний пер., д. 12')
- ware_push('/realestate/warehouse/all/promyshlennaya-5-/' , 'Промышленная 5' , 'Промышленная, д. 5')
- ware_push('/realestate/warehouse/all/psk-novosele/' , 'ПСК Новоселье' , 'Красносельское шоссе, п. Новоселье, д. 4')
- ware_push('/realestate/warehouse/all/rassvet-/' , 'Рассвет' , 'Дегтярная, д. 5-7')
- ware_push('/realestate/warehouse/all/sk-roshchinskiy/' , 'Рощинский' , 'Рощинская, д. 36')
- ware_push('/realestate/warehouse/all/ruslan/' , 'Руслан' , 'Поселковая, д. 12, к. в')
- ware_push('/realestate/warehouse/all/salova-56/' , 'Салова 56' , 'Салова, д. 56')
- ware_push('/realestate/warehouse/all/svetlana-/' , 'Светлана' , 'Энгельса пр., д. 27')
- ware_push('/realestate/warehouse/all/severnoe-domodedovo/' , 'Северное Домодедово' , 'г. Домодедово, мкр. Северный, ул. Логистическая, д. 1')
- ware_push('/realestate/warehouse/all/sk-kievskaya-5/' , 'СК Киевская 5' , 'Киевская ул., д. 5')
- ware_push('/realestate/warehouse/all/sk-kolpino/' , 'СК Колпино' , 'п. Шушары, д. 26')
- ware_push('/realestate/warehouse/all/sk-nevskiy-spb/' , 'СК Невский' , 'Тельмана, д. 14')
- ware_push('/realestate/warehouse/all/sk-salova-45/' , 'СК Салова 45' , 'Салова, д. 45')
- ware_push('/realestate/warehouse/all/sofiyskaya-2-/' , 'Софийская 2' , 'Софийская, д. 2')
- ware_push('/realestate/warehouse/all/studiya-/' , 'Студия' , 'Кронверкская, д. 5')
- ware_push('/realestate/warehouse/all/tehnopark-blagodatnaya/' , 'Технопарк Благодатная' , 'Благодатная, д. 50')
- ware_push('/realestate/warehouse/all/tekhnopark-mebelnyy/' , 'Технопарк Мебельный' , 'пр. Маршала Блюхера, д. 78')
- ware_push('/realestate/warehouse/all/holding-78-predportovyy/' , 'Холдинг 78 Предпортовый' , '4-й Предпортовый проезд, д. 5, стр. Л')
- ware_push('/realestate/warehouse/all/shaumyana-56-tehnopark/' , 'Шаумяна 56 технопарк' , 'Салова, д. 56')
- ware_push('/realestate/warehouse/all/ekspomarket-oh/' , 'Экспомаркет' , 'пр. Стачек, д. 45, к. 2')
- ware_push('/realestate/warehouse/all/ekspomarket/' , 'Экспомаркет' , 'пр. Стачек, д. 45, к. 2')
- ware_push('/realestate/warehouse/all/sklad-energo-logistik/' , 'Энерго-Логистик-Юг' , 'Московское шоссе, д. 235')
- ware_push('/realestate/warehouse/all/sklad-yuzhny/' , 'Южный, складской комплекс' , 'Московское шоссе, д. 19, к. 4')

- stor_push('/realestate/storage/all/ahlers-logistic-center/' , 'Ahlers Logistic Center' , 'Волхонское шоссе, д. 2, к. А')
- stor_push('/realestate/storage/all/alidi/' , 'Alidi' , '1-й Верхний пер., д. 4')
- stor_push('/realestate/storage/all/alidi-pulkovo/' , 'Alidi Пулково' , 'Пулковское шоссе, д. 56, стр. 4, к. а')
- stor_push('/realestate/storage/all/db-schenker/' , 'DB Schenker' , 'Волхонское шоссе, д. 2, к. Б')
- stor_push('/realestate/storage/all/dlg/' , 'DLG' , 'Салова, д. 45')
- stor_push('/realestate/storage/all/expressru/' , 'Express.ru' , 'Витебский пр., д. 11, к. 3А')
- stor_push('/realestate/storage/all/global-logistic-projects/' , 'Global Logistic Projects' , 'деревня Новосаратовка, участок, д. 1')
- stor_push('/realestate/storage/all/kuehnenagel/' , 'Kuehne+Nagel' , 'Поселковая, д. 8')
- stor_push('/realestate/storage/all/Major-Logistic-Company-/' , 'Major Logistic Company' , 'д. Новосаратовка, Мурманское шоссе')
- stor_push('/realestate/storage/all/major-logistic-company-invest-bugri/' , 'Major Logistic Company' , 'Бугровская дорога, д. 1')
- stor_push('/realestate/storage/all/major-logistic-company/' , 'Major Logistic Company' , 'Волхонское шоссе, д. 2, стр. Б')
- stor_push('/realestate/storage/all/megalogistic/' , 'Megalogistic' , 'пр. Энергетиков, д. 22')
- stor_push('/realestate/storage/all/nl-logistika/' , 'NL Логистика' , 'Новый Свет, д. 112, стр. Б')
- stor_push('/realestate/storage/all/red-box-co/' , 'Red Box Co' , '6-й Верхний переулок, д. 12б')
- stor_push('/realestate/storage/all/roslogistics/' , 'RosLogistics-Шушары' , 'Московское шоссе, д. 70, стр. А, к. 4')
- stor_push('/realestate/storage/all/sts-logistics/' , 'STS logistics' , 'деревня Новосаратовка')
- stor_push('/realestate/storage/all/total-terminal-oh/' , 'Total Terminal' , 'Дальневосточный пр., д. 73, к. А')
- stor_push('/realestate/storage/all/yusen-logistics/' , 'Yusen Logistics' , 'Московское шоссе, д. 70')
- stor_push('/realestate/storage/all/agent-produkt/' , 'Агент Продукт' , 'Кубинская, д. 75')
- stor_push('/realestate/storage/all/altum-logistik/' , 'Альтум Логистик' , 'поселок Металлострой, Дорога на Металлострой, д. 5')
- stor_push('/realestate/storage/all/bi-lodzhistik-otvetstvennoe-khranenie/' , 'Би Лоджистик' , 'Московское шоссе, д. 19, к. 3')
- stor_push('/realestate/storage/all/delovye-linii/' , 'Деловые Линии' , '2-й Верхний пер., д. 15, к. А')
- stor_push('/realestate/storage/all/delovye-linii-armada-park/' , 'Деловые Линии (Армада-Парк)' , 'Московское шоссе, д. 52')
- stor_push('/realestate/storage/all/oh-insey/' , 'Инсей' , 'Всеволожск, Коммунально-складская зона №6 литер А')
- stor_push('/realestate/storage/all/interterminal-prolodzhis-oh/' , 'Интертерминал ПроЛоджис' , 'Кубинская, д. 75, к. 1')
- stor_push('/realestate/storage/all/logist/' , 'Логист' , 'Домостроительная, д. 12, стр. А')
- stor_push('/realestate/storage/all/logistera/' , 'Логистера' , 'Московское шоссе, д. 26, стр. 3')
- stor_push('/realestate/storage/all/logistik/' , 'Логистик+' , 'ул. Салова, д. 56, стр. О')
- stor_push('/realestate/storage/all/marvel-shushari/' , 'Марвел-Логистика' , 'Первая линия Московского шоссе, д. 3 км. от КАД')
- stor_push('/realestate/storage/all/otv-megapolis/' , 'Мегаполис' , 'Московское шоссе, д. 161, к. 10б')
- stor_push('/realestate/storage/all/meridian-logistik/' , 'Меридиан Лоджистик Групп' , 'Октябрьская набережная, д. 50')
- stor_push('/realestate/storage/all/nevskiy-otvetstvennoe-khranenie/' , 'Невский' , 'пр. Обуховской Обороны, д. 295, стр. Б')
- stor_push('/realestate/storage/all/nienshantslogistik/' , 'Ниеншанц-Логистик' , 'деревня Новосаратовка, промзона «Уткина Заводь», участок, д. 1')
- stor_push('/realestate/storage/all/oktant/' , 'Октант' , 'Волхонское шоссе, д. 4')
- stor_push('/realestate/storage/all/osinovaya-roshcha-logopark/' , 'Осиновая Роща' , 'Горское шоссе, д. 6, стр. Б')
- stor_push('/realestate/storage/all/svetlana-k/' , 'Светлана-К' , 'Кубинская, стр. А, Б, к. 1')
- stor_push('/realestate/storage/all/svoya-logistika/' , 'Своя Логистика' , 'Предпортовая')
- stor_push('/realestate/storage/all/trans-missiya/' , 'Транс Миссия' , '1-й Верхний пер., д. 10')
- stor_push('/realestate/storage/all/fedorovskoe/' , 'Федоровское' , 'ул. Шоссейная, д. 2, к. г')
- stor_push('/realestate/storage/all/ekspomarket-oh/' , 'Экспомаркет' , 'пр. Стачек, д. 45, к. 2')
- stor_push('/realestate/storage/all/oh-elektronkompleks/' , 'Электронкомплекс' , '1-ый Верхний пер., д. 4')
- stor_push('/realestate/storage/all/energologistik/' , 'Энерго-Логистик' , 'Московское шоссе, д. 235, стр. А')

- trk_push('/realestate/trk/all/5-ozer/' , '5 Озер' , 'Долгоозёрная ул., д. 13')
- trk_push('/realestate/trk/all/atlantic-city/' , 'Atlantic City' , 'Савушкина, д. 126, стр. А')
- trk_push('/realestate/trk/all/brandhouse/' , 'Brandhouse' , 'Савушкина, д. 119/5')
- trk_push('/realestate/trk/all/cruise/' , 'Cruise' , 'Комендантский пр., д. 4, к. А')
- trk_push('/realestate/trk/all/grand-palace/' , 'Grand Palace' , 'Невский просп, д. 44')
- trk_push('/realestate/trk/all/london-mall/' , 'London Mall' , 'Коллонтай, д. 3')
- trk_push('/realestate/trk/all/maxi-sopot/' , 'Maxi Сопот' , 'Железноводская, д. 68')
- trk_push('/realestate/trk/all/mebelwood/' , 'MebelWood' , 'Дальневосточный пр., д. 14, к. А')
- trk_push('/realestate/trk/all/millercenter/' , 'Miller-Center' , 'пр. Испытателей, д. 30')
- trk_push('/realestate/trk/all/motobaza/' , 'Moto-baza' , 'Софийская ул., д. 8, к. 1')
- trk_push('/realestate/trk/all/olimpic-plaza/' , 'Olimpic Plaza' , 'Марата, д. 5')
- trk_push('/realestate/trk/all/ontsentr/' , 'ON-Центр' , 'пр. Обуховской Обороны, д. 120, к. Б')
- trk_push('/realestate/trk/all/piterland/' , 'Piterland' , 'Приморский пр., д. 72')
- trk_push('/realestate/trk/all/trk-prisma/' , 'Prisma' , 'Выборгское шоссе, д. 503, стр. А, к. 1')
- trk_push('/realestate/trk/all/prisma-devyatkino/' , 'Prisma' , 'Новое Девяткино, д. 101')
- trk_push('/realestate/trk/all/renaissance-hall-trk/' , 'Renaissance Hall' , 'Владимирский пр., д. 23')
- trk_push('/realestate/trk/all/trk-renaissance-pravda/' , 'Renaissance Pravda' , 'Херсонская, д. 12')
- trk_push('/realestate/trk/all/trk-renaissance-premium/' , 'Renaissance Premium' , 'Решетникова')
- trk_push('/realestate/trk/all/trk-river-house/' , 'River House' , 'Академика Павлова, д. 5')
- trk_push('/realestate/trk/all/silver/' , 'Silver' , 'пр. Просвещения, д. 30, к. 4')
- trk_push('/realestate/trk/all/vanity-opera/' , 'Vanity  Opera' , 'Казанская, д. 3')
- trk_push('/realestate/trk/all/avenyu-trk/' , 'Авеню' , 'Выборгское ш., д. 15')
- trk_push('/realestate/trk/all/admiral-trk/' , 'Адмирал' , 'Кирпичный пер., д. 3')
- trk_push('/realestate/trk/all/admiralteyskiy-trk/' , 'Адмиралтейский' , 'Московский просп, д. 3')
- trk_push('/realestate/trk/all/akadempark/' , 'Академ-Парк' , 'Гражданский пр., д. 41')
- trk_push('/realestate/trk/all/trk-akademicheskiy/' , 'Академический' , 'Гражданский пр., д. 41, стр. А')
- trk_push('/realestate/trk/all/aleks/' , 'Алекс' , 'Бабушкина, д. 38, к. 2')
- trk_push('/realestate/trk/all/andreevskiy-dvor-trk/' , 'Андреевский двор' , 'Большой пр. В. О., д. 18, стр. А')
- trk_push('/realestate/trk/all/artem/' , 'Артем' , 'пр. Добролюбова, д. 20')
- trk_push('/realestate/trk/all/atmosfera-tk/' , 'Атмосфера' , 'Комендантская площадь, д. 1')
- trk_push('/realestate/trk/all/aura/' , 'Аура' , 'Лахтинский просп, д. 85')
- trk_push('/realestate/trk/all/badabum/' , 'Бада-Бум' , 'Энгельса, д. 113')
- trk_push('/realestate/trk/all/balkaniya-nova/' , 'Балкания NOVA' , 'Балканская, д. 5, к. Ю')
- trk_push('/realestate/trk/all/balkanskiy/' , 'Балканский' , 'Балканская площадь, д. 5, к. В')
- trk_push('/realestate/trk/all/baltiyskiy/' , 'Балтийский' , 'Большой пр. В.О., д. 68')
- trk_push('/realestate/trk/all/bestuzhevskiy-dvor/' , 'Бестужевский двор' , 'Бестужевская, д. 10')
- trk_push('/realestate/trk/all/bolshoy-gostinyy-dvor/' , 'Большой Гостиный Двор' , 'Невский просп, д. 35')
- trk_push('/realestate/trk/all/burzhua/' , 'Буржуа' , 'пр. Чернышевского, д. 11, стр. А')
- trk_push('/realestate/trk/all/trk-varshavskiy-ekspress/' , 'Варшавский экспресс' , 'наб. Обводного Канала, д. 118')
- trk_push('/realestate/trk/all/velikan-park/' , 'Великан Парк' , 'Александровский парк, д. 4/3')
- trk_push('/realestate/trk/all/vladimirskiy-passazh/' , 'Владимирский Пассаж' , 'Владимирский пр., д. 19')
- trk_push('/realestate/trk/all/voyazh/' , 'Вояж' , 'пр. Энгельса, д. 124, к. 1')
- trk_push('/realestate/trk/all/galereya/' , 'Галерея' , 'Лиговский пр., д. 30, к. А')
- trk_push('/realestate/trk/all/galereya-1814/' , 'Галерея 1814' , 'площадь Стачек, д. 7, к. А')
- trk_push('/realestate/trk/all/garden-siti/' , 'Гарден Сити' , 'Лахтинский пр., д. 85, к. в')
- trk_push('/realestate/trk/all/gatchinskiy/' , 'Гатчинский' , 'Красная, д. 2')
- trk_push('/realestate/trk/all/grand-kanon/' , 'Гранд Каньон' , 'пр. Энгельса, д. 154')
- trk_push('/realestate/trk/all/gulliver/' , 'Гулливер' , 'Торфяная дорога, д. 7')
- trk_push('/realestate/trk/all/dlt/' , 'ДЛТ' , 'Большая Конюшенная, д. 21-23, стр. А')
- trk_push('/realestate/trk/all/dm/' , 'ДМ' , 'Коммуны, д. 63')
- trk_push('/realestate/trk/all/dolina-roz/' , 'Долина Роз' , 'Аккуратова, д. 13')
- trk_push('/realestate/trk/all/dom-mertensa-trk/' , 'Дом Мертенса' , 'Невский пр., д. 21')
- trk_push('/realestate/trk/all/evropolis/' , 'Европолис' , 'Полюстровский пр., д. 84, стр. А')
- trk_push('/realestate/trk/all/elizarovskiy/' , 'Елизаровский' , 'Бабушкина, д. 8, к. 2')
- trk_push('/realestate/trk/all/zhemchuzhnaya-plaza/' , 'Жемчужная Плаза' , 'Петергофское шоссе, д. 51')
- trk_push('/realestate/trk/all/zanevskiy-kaskad/' , 'Заневский Каскад' , 'Заневский пр., д. 71')
- trk_push('/realestate/trk/all/zvezdnyy/' , 'Звездный' , 'Ленсовета, д. 101')
- trk_push('/realestate/trk/all/zvenigorodskiy-trk/' , 'Звенигородский' , 'Звенигородская, д. 1')
- trk_push('/realestate/trk/all/zebra/' , 'Зебра' , 'пр. Косыгина, д. 30, к. 1')
- trk_push('/realestate/trk/all/izmaylovskiy-dvor/' , 'Измайловский двор' , '1-я Красноармейская, д. 15')
- trk_push('/realestate/trk/all/interio/' , 'Интерио' , 'Полевая Сабировская, д. 54')
- trk_push('/realestate/trk/all/iyun/' , 'Июнь' , 'Индустриальный пр., д. 24')
- trk_push('/realestate/trk/all/kapitoliy/' , 'Капитолий' , 'Коломяжский пр., д. 19')
- trk_push('/realestate/trk/all/kvartal-trk/' , 'Квартал' , 'Ново-Рыбинская ул., д. 19')
- trk_push('/realestate/trk/all/trk-kirovskiy-univermag/' , 'Кировский универмаг' , 'Стачек, д. 9')
- trk_push('/realestate/trk/all/komsomola-43/' , 'Комсомола 43' , 'Комсомола, д. 43, стр. А')
- trk_push('/realestate/trk/all/konstantinovskiy/' , 'Константиновский' , 'ул. Полковая, д. 1')
- trk_push('/realestate/trk/all/trk-kontinent/' , 'Континент' , 'Бухарестская, д. 30/32')
- trk_push('/realestate/trk/all/kontinent-baykonurskaya/' , 'Континент на Байконурской' , 'Байконурская, д. 14, к. А')
- trk_push('/realestate/trk/all/trk-kontinent-zvezdnaya/' , 'Континент на Звездной' , 'Звездная, д. 1')
- trk_push('/realestate/trk/all/kosmopolis/' , 'Космополис' , 'Выборгское, д. 13')
- trk_push('/realestate/trk/all/kosmos-aviakonstructorov/' , 'Космос' , 'пр. Авиаконструкторов, д. 5')
- trk_push('/realestate/trk/all/kosmos/' , 'Космос' , 'ул. Типанова, д. 27')
- trk_push('/realestate/trk/all/krokus/' , 'Крокус' , 'Стародеревенская, д. 36')
- trk_push('/realestate/trk/all/krysha/' , 'Крыша' , 'Просвещения, д. 66А')
- trk_push('/realestate/trk/all/kupecheskiy-dvor/' , 'Купеческий Двор' , 'Коломяжский пр., д. 15, к. А2')
- trk_push('/realestate/trk/all/lanskoy/' , 'Ланской' , 'Студенческая, д. 10')
- trk_push('/realestate/trk/all/leto-trk/' , 'Лето' , 'Пулковское шоссе, д. 25')
- trk_push('/realestate/trk/all/bc-ligov/' , 'Лиговъ' , 'Лиговский пр., д. 153')
- trk_push('/realestate/trk/all/lider/' , 'Лидер' , 'Гаккелевская, д. 34')
- trk_push('/realestate/trk/all/mankhetten/' , 'Манхэттен' , 'пр. Ветеранов, д. 36')
- trk_push('/realestate/trk/all/masshtab/' , 'Масштаб' , 'Пулковское шоссе, д. 35')
- trk_push('/realestate/trk/all/mebel-siti/' , 'Мебель Сити' , 'Кантемировская, д. 37')
- trk_push('/realestate/trk/all/mebel-kholl/' , 'Мебель Холл' , 'Площадь Карла Фаберже, д. 8')
- trk_push('/realestate/trk/all/mega-dybenko/' , 'Мега Дыбенко' , 'Мурманское шоссе, д. 12-й км')
- trk_push('/realestate/trk/all/mega-parnas/' , 'Мега Парнас' , '117 километр внешн.')
- trk_push('/realestate/trk/all/trk-mezhdunarodnyy/' , 'Международный' , 'Белы Куна, д. 3')
- trk_push('/realestate/trk/all/trk-merkuriy/' , 'Меркурий' , 'Савушкина, д. 141')
- trk_push('/realestate/trk/all/monpase/' , 'Монпасье' , 'Планерная, д. 59')
- trk_push('/realestate/trk/all/morskoy/' , 'Морской' , 'Морская набережная, д. 35')
- trk_push('/realestate/trk/all/moskva-trk/' , 'Москва' , 'пл. Александра Невского, д. 2')
- trk_push('/realestate/trk/all/multimeks/' , 'Мультимекс' , 'Южное шоссе, д. 37')
- trk_push('/realestate/trk/all/pomeshchenie-185-m-na-krasnoputilovskoy/' , 'На Краснопутиловской 9' , 'Краснопутиловская ул., д. 9')
- trk_push('/realestate/trk/all/pomeshchenie-125-m-na-lomonosova/' , 'На Ломоносова 4' , 'ул. Ломоносова, д. 4')
- trk_push('/realestate/trk/all/pomeshchenie-56-m-na-nevskom-pr/' , 'На Невском пр. 55' , 'Невский пр., д. 55')
- trk_push('/realestate/trk/all/pomeshchenie-178-m-na-nevskom-pr/' , 'На Невском пр. 57' , 'Невский пр., д. 57')
- trk_push('/realestate/trk/all/pomeshchenie-2026m-na-nevskom-pr/' , 'На Невском пр. 62' , 'Невский пр., д. 62')
- trk_push('/realestate/trk/all/pomeshchenie-360-m-na-polyustrovskom/' , 'На Полюстровском 3' , 'Полюстровский пр., д. 3')
- trk_push('/realestate/trk/all/pomeshchenie-550-m-na-sverdlovskoy/' , 'На Свердловской 58' , 'Свердловская наб., д. 58')
- trk_push('/realestate/trk/all/na-sennoy-ploshchadi-139m/' , 'На Сенной площади 13' , 'Сенная пл., д. 13')
- trk_push('/realestate/trk/all/pomeshchenie-240-m-na-tverskoy/' , 'На Тверской 18' , 'Тверская ул., д. 18')
- trk_push('/realestate/trk/all/narva/' , 'Нарва' , 'Ленинский пр., д. 128, к. 2')
- trk_push('/realestate/trk/all/nevskiy/' , 'Невский' , 'Большевиков, д. 18')
- trk_push('/realestate/trk/all/nevskiy-atrium/' , 'Невский Атриум' , 'Невский просп, д. 71')
- trk_push('/realestate/trk/all/nevskiy-plaza/' , 'Невский Плаза' , 'Невский пр., д. 55, стр. А')
- trk_push('/realestate/trk/all/nevskiy-tsentr/' , 'Невский Центр' , 'Невский пр., д. 114-116')
- trk_push('/realestate/trk/all/neo/' , 'НЕО' , 'Заневский пр., д. 38')
- trk_push('/realestate/trk/all/nord/' , 'Норд' , 'пр. Просвещения, д. 19')
- trk_push('/realestate/trk/all/ozerki/' , 'Озерки' , 'пр. Энгельса, д. 120')
- trk_push('/realestate/trk/all/orlovskiy/' , 'Орловский' , 'Революции, д. 8')
- trk_push('/realestate/trk/all/passazh/' , 'Пассаж' , 'Невский пр., д. 48')
- trk_push('/realestate/trk/all/tkr-perinnye-ryady/' , 'Перинные ряды' , 'Думская, д. 4')
- trk_push('/realestate/trk/all/pik/' , 'Пик' , 'Ефимова, д. 2')
- trk_push('/realestate/trk/all/piter/' , 'Питер' , 'Типанова, д. 21')
- trk_push('/realestate/trk/all/planeta-neptun/' , 'Планета Нептун' , 'Марата, д. 86')
- trk_push('/realestate/trk/all/platforma-staraya-derevnya/' , 'Платформа' , 'Мебельная, д. 2')
- trk_push('/realestate/trk/all/platforma-ligovskij-prospekt/' , 'Платформа' , 'Транспортный пер., д. 1')
- trk_push('/realestate/trk/all/platforma-ladozhskaya/' , 'Платформа' , 'Заневский пр., д. 65')
- trk_push('/realestate/trk/all/platforma_akademicheskaya/' , 'Платформа' , 'пр. Науки 19')
- trk_push('/realestate/trk/all/podsolnukh/' , 'Подсолнух' , 'Савушкина, д. 119, к. 3')
- trk_push('/realestate/trk/all/pomeshchenie-118-m-na-nevskom-pr/' , 'Помещение 118 м на Невском пр.' , 'Невский пр.')
- trk_push('/realestate/trk/all/pomeshchenie-122-m-na-pestelya/' , 'Помещение 122 м на Пестеля' , 'ул. Пестеля')
- trk_push('/realestate/trk/all/na-12-linii/' , 'Помещение на 12 линии' , '12-я линия')
- trk_push('/realestate/trk/all/port-nakhodka/' , 'Порт Находка' , 'Тепловозная, д. 31')
- trk_push('/realestate/trk/all/promenad/' , 'Променад' , 'Комендантский пр., д. 9')
- trk_push('/realestate/trk/all/pulkovo-3/' , 'Пулково 3' , 'Шереметьевская, д. 15')
- trk_push('/realestate/trk/all/trk-radius/' , 'Радиус' , 'Волковский пр., д. 32')
- trk_push('/realestate/trk/all/raduga-trk/' , 'Радуга' , 'пр. Космонавтов, д. 14')
- trk_push('/realestate/trk/all/raketa/' , 'Ракета' , 'Санкт-Петербургское шоссе, д. 60')
- trk_push('/realestate/trk/all/rio/' , 'Рио' , 'Фучика, д. 2')
- trk_push('/realestate/trk/all/rodeo-drayv/' , 'Родео Драйв' , 'пр. Культуры, д. 1')
- trk_push('/realestate/trk/all/bc-rsk/' , 'РСК' , 'Выборгское шоссе, д. 503, к. 3')
- trk_push('/realestate/trk/all/rubikon/' , 'Рубикон' , 'Гражданский пр., д. 119')
- trk_push('/realestate/trk/all/rumba/' , 'Румба' , 'Васи Алексеева, д. 6')
- trk_push('/realestate/trk/all/sampsonievskiy-trk/' , 'Сампсониевский' , 'Сампсониевский пр., д. 32')
- trk_push('/realestate/trk/all/trk-svetlanovskiy/' , 'Светлановский' , 'пр. Энгельса, д. 33')
- trk_push('/realestate/trk/all/severnyy-moll/' , 'Северный Молл' , 'пр. Культуры, д. 41')
- trk_push('/realestate/trk/all/sennoi/' , 'Сенная' , 'Ефимова, д. 3')
- trk_push('/realestate/trk/all/sitimoll/' , 'Сити-Молл' , 'Коломяжский пр., д. 17')
- trk_push('/realestate/trk/all/skandinaviya/' , 'Скандинавия' , 'Выборгское шоссе, д. 503')
- trk_push('/realestate/trk/all/smayl/' , 'Смайл' , 'пр. Большевиков, д. 27')
- trk_push('/realestate/trk/all/stil/' , 'Стиль' , 'пр. Ветеранов, д. 147')
- trk_push('/realestate/trk/all/stroykhaus/' , 'Стройхаус' , 'пр. Энергетиков, д. 19')
- trk_push('/realestate/trk/all/telmana/' , 'Тельмана' , 'Тельмана, д. 48')
- trk_push('/realestate/trk/all/tkachi/' , 'Ткачи' , 'наб. Обводного канала, д. 60')
- trk_push('/realestate/trk/all/tolstoy-skver-trk/' , 'Толстой Сквер' , 'Льва Толстого, д. 9')
- trk_push('/realestate/trk/all/ulyanka/' , 'Ульянка' , 'пр. Ветеранов, д. 101')
- trk_push('/realestate/trk/all/fiolent/' , 'Фиолент' , 'Зайцева, д. 41')
- trk_push('/realestate/trk/all/frantsuzskiy-bulvar/' , 'Французский Бульвар' , 'Бульвар Новаторов, д. 11')
- trk_push('/realestate/trk/all/chkalovskiy-trk/' , 'Чкаловский' , 'Чкаловский пр., д. 7')
- trk_push('/realestate/trk/all/chudnyy/' , 'Чудный' , 'Чудновского, д. 10')
- trk_push('/realestate/trk/all/shayba/' , 'Шайба' , 'пр. Стачек, д. 66')
- trk_push('/realestate/trk/all/shkiperskiy-moll/' , 'Шкиперский Молл' , 'Малый пр. В.О., д. 88')
- trk_push('/realestate/trk/all/shtrikhkod/' , 'Штрих-Код' , 'Народная, д. 3')
- trk_push('/realestate/trk/all/shuvalovo/' , 'Шувалово' , 'пр. Энгельса, д. 139')
- trk_push('/realestate/trk/all/evrika-trk/' , 'Эврика' , 'Седова, д. 11')
- trk_push('/realestate/trk/all/elektra/' , 'Электра' , 'Московский пр., д. 137')
- trk_push('/realestate/trk/all/yubileynyy/' , 'Юбилейный' , 'Октябрьский пр., д. 85')
- trk_push('/realestate/trk/all/yugozapad/' , 'Юго-Запад' , 'пр. Маршала Жукова, д. 35, к. 1а')
- trk_push('/realestate/trk/all/yuzhnyy/' , 'Южный' , 'пр. Юрия Гагарина, д. 34')
- trk_push('/realestate/trk/all/yuzhnyy-polyus/' , 'Южный полюс' , 'Пражская, д. 48/50')
- trk_push('/realestate/trk/all/yarus/' , 'Ярус' , 'Есенина, д. 5, к. б')

- cow_push('/realestate/coworking/all/co-ofism-bolshoy-pr-ps-7/' , 'Офис-М Большой пр. П.С. 7' , 'Большой проспект П.С., д. 7')
- cow_push('/realestate/coworking/all/co-ofism-bolshoy-pr-ps-7678/' , 'Офис-М Большой пр. П.С. 76-78' , 'Большой пр. П.С., д. 76-78')
- cow_push('/realestate/coworking/all/co-ofism-malevich/' , 'Офис-М Малевич' , 'Митрофаньевское шоссе, д. 2, к. 2')
- cow_push('/realestate/coworking/all/co-ofism-nevskiy-151/' , 'Офис-М Невский 151' , 'Невский пр., д. 151')
- cow_push('/realestate/coworking/all/co-ofism-nevskiy-22/' , 'Офис-М Невский 22' , 'Невский пр., д. 22')
- cow_push('/realestate/coworking/all/co-ofism-nevskiy-24/' , 'Офис-М Невский 24' , 'Невский пр., д. 24')
- cow_push('/realestate/coworking/all/co-ofism-nevskiy-51/' , 'Офис-М Невский 51' , 'Невский пр., д. 51')
- cow_push('/realestate/coworking/all/co-regus-sinop/' , 'Регус Sinop' , 'Синопская наб., д. 22')
- cow_push('/realestate/coworking/all/co-regus-nevskiy-plaza/' , 'Регус Невский Плаза' , 'Невский пр., д. 55, стр. А')

